<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CucumberTestNg" verbose="1" data-provider-thread-count="1" >

	<!-- <listeners>
	<listener class-name="utility.Reporting"></listener>
	</listeners>
 -->

  <test name="Testcases cucumberTestNg" >
    <classes>
      <class name="runner.TestRunner"/>
      
    </classes>
 </test>
</suite>